body, html
  width 100%
  max-width $maxWidth
  margin 0 auto
  line-height: 1.2
  //height 100%
  //font-family:'ArialMT'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background-color rgba(255,255,255,1)
  color #333
  font-size 14px;
  overflow-x hidden
  /*wrapper 上下导航 */
  .wrapper
    background-color #f2f2f2;
    padding-bottom 44px
    padding-top 46px
    .panel-list
      margin 15px 0
