.p16
  padding 16px
.pt16
  padding-top 16px
.pr16
  padding-right 16px
.pb16
  padding-bottom 16px
.pl16
  padding-left 16px
.ptb16
  padding 16px 0
.prl16
  padding 0 16px
.p8
  padding 8px
.pt8
  padding-top 8px
.pr8
  padding-right 8px
.pb8
  padding-bottom 8px
.pl8
  padding-left 8px
.ptb8
  padding 8px 0
.prl8
  padding 0 8px
  
.m16
  margin 16px
.mt16
  margin-top 16px
.mr16
  margin-right 16px
.mb16
  margin-bottom 16px
.ml16
  margin-left 16px
.mtb16
  margin 16px 0
.mrl16
  margin 0 16px
  
.m8
  margin 8px
.mt8
  margin-top 8px
.mr8
  margin-right 8px
.mb8
  margin-bottom 8px
.ml8
  margin-left 8px
.mtb8
  margin 8px 0
.mrl8
  margin 0 8px
