$maxWidth = 640Px
$normalColor = #fff /* 正常普通 颜色 白色 */
$descColor = rgba(150, 151, 153, 1) /*描述*/
$bigColor = rgb(245, 93, 84) /*突出的*/
$infoColor = rgb(41,141,248) /*蓝色 基本信息*/
$warningColor = #ff976a
$dangerColor = #ee0a24
$bgInfoColor = #509aff


$themeColor = #ff6c8b /* 主题颜色 */

:export{
  normalColor: $normalColor
}

:export{
  descColor: $descColor
}
:export{
  bigColor: $bigColor
}
:export{
  infoColor: $infoColor
}
:export{
  bgInfoColor: $bgInfoColor
}
:export{
  warningColor: $warningColor
}
:export{
  dangerColor: $dangerColor
}
:export{
  themeColor: $themeColor
}
